$icomoon-font-family: "fonticon" !default;
$icomoon-font-path: "fonts" !default;

$icon-heart: "\e900";
$icon-cloud: "\e901";
$icon-star: "\e902";
$icon-tv: "\e903";
$icon-sound: "\e904";
$icon-video: "\e905";
$icon-trash: "\e906";
$icon-user: "\e907";
$icon-key: "\e908";
$icon-search: "\e909";
$icon-settings: "\e90a";
$icon-camera: "\e90b";
$icon-tag: "\e90c";
$icon-lock: "\e90d";
$icon-bulb: "\e90e";
$icon-pen: "\e90f";
$icon-diamond: "\e910";
$icon-display: "\e911";
$icon-location: "\e912";
$icon-eye: "\e913";
$icon-bubble: "\e914";
$icon-stack: "\e915";
$icon-cup: "\e916";
$icon-phone: "\e917";
$icon-news: "\e918";
$icon-mail: "\e919";
$icon-like: "\e91a";
$icon-photo: "\e91b";
$icon-note: "\e91c";
$icon-clock: "\e91d";
$icon-paperplane: "\e91e";
$icon-params: "\e91f";
$icon-banknote: "\e920";
$icon-data: "\e921";
$icon-music: "\e922";
$icon-megaphone: "\e923";
$icon-study: "\e924";
$icon-lab: "\e925";
$icon-food: "\e926";
$icon-t-shirt: "\e927";
$icon-fire: "\e928";
$icon-clip: "\e929";
$icon-shop: "\e92a";
$icon-calendar: "\e92b";
$icon-wallet: "\e92c";
$icon-vynil: "\e92d";
$icon-truck: "\e92e";
$icon-world: "\e92f";

