@import './bootstrap-override.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

html, body {
  font-family: 'Lato', 'Microsoft JhengHei','微軟正黑體', 'Microsoft YaHei', '微软雅黑', 'arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $dark;
  background: $bg;
}

.cke_screen_reader_only {
  top: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

fieldset {

  &.form-group {
    padding: 0;
  }
}

/*
Theme Override
*/

.form {
  font-size: 13px;

  input, 
  select, 
  .btn, 
  .form-control,
  .input-group-text,
  .dropdown-menu {
    font-size: inherit;
  }
  label[for^=form-item-],
  legend {
    font-size: 12px;
    font-weight: 700;
  }
  label {

    &.custom-control-label {
      font-size: inherit;
      font-weight: inherit;
    }
  }
  .btn {
    // min-width: 3em;
  }
  .desc {
    font-size: 11px;
    color: $secondary;
    margin: 0.5em 0;
  }
  small {
    font-size: 11px;
    color: $secondary;
  }
}

.btn {
  // min-width: 5em;
  
  .btn-group & {
    min-width: 0;

    // & + .btn {
    //   border-left: 1px solid rgba(0,0,0,0.25);
    // }
  }
  &.dropdown-toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:before {
      content: '';
      width: 1em;
      order: 1;
    }
    &:after {
      margin-left: auto;
      order: 2;
    }
  }
  &[class*="btn-outline-"] {
    color: $secondary;
    border-color: $border;

    &:hover:not(.active) {
      color: $dark;
      background: lighten($primary, 75);
    }
    &:not(:disabled):not(.disabled):not(:first-child).active {
      border-left-color: rgba(0,0,0,0.4);
    }
  }
}

div.append-icon {
  position: relative;
  
  .b-icon {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);
  }
  .form-control {
    padding-right: 3em;
  }
}
div.prepend-icon {
  position: relative;
  
  .b-icon {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(0, -50%);
  }
  .form-control {
    padding-left: 3em;
  }
}

.cke {
  .cke_top {
    background: white;
  }
}
.cke_textarea_inline {
  border: 1px solid $border;
  padding: 0.375rem 0.75rem;
  outline: none;
}


// Table 

.table.b-table.list {
  font-size: 12px;
  height: 100%;
  max-height: none;
  white-space: nowrap;
  
  thead {

    & > tr > th {
      background: $gray-300;
    }
  }
  tbody {

    & > tr {

      // td.b-table-sticky-column {
      //   background: none;
      // }
    }
  }
  tr {
    cursor: pointer;
    background: white;

    &:nth-of-type(odd) {

      td {
        background: $bg;
      }
    }
    &.table-active {

      td {
        background: $primary;
        color: white;
        border-color: $primary;
      }
    }
    &:hover {

      td {
        background: lighten($info, 50%);
        border-color: $info;
      }
    }
  }
  td {
    border-bottom: 1px solid transparent;
  }
}